.form-control{
    width: 100%;
    max-width: 100%;
}

.form-wrapper{
    margin-top: 50px;
    padding: 0;
    border-radius: 8px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

h1{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: rebeccapurple;
}

.form-control.long-input {
    width: calc(100% + 60px); /* Para asegurar que el campo ocupe el espacio de las dos columnas con margen */
    max-width: 100%;
}

.sg-up{
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-primary{
    background-color: #6c4fdb;
    border: 2px solid #6c4fdb;
    box-shadow: 0 4px 8px rgba(108, 79, 219, 0.2);

}

/* Estilo al pasar el ratón */
.btn-primary:hover {
    background-color: #7b5fef; /* Color morado más claro */
    border-color: #7b5fef; /* Bordes también cambian */
    box-shadow: 0 6px 12px rgba(108, 79, 219, 0.3); /* Sombra aumentada */
}

/* Estilo cuando el botón está presionado */
.btn-primary:active {
    background-color: #5a3bb2; /* Color morado más oscuro */
    border-color: #5a3bb2; /* Bordes más oscuros */
    box-shadow: 0 2px 4px rgba(108, 79, 219, 0.1); /* Sombra reducida */
    transform: translateY(2px); /* Botón ligeramente presionado */
}

/* Estilo para botones deshabilitados */
.btn-primary:disabled {
    background-color: #ddd; /* Color gris para estado deshabilitado */
    border-color: #ccc; /* Bordes grises */
    color: #aaa; /* Texto gris */
    cursor: not-allowed; /* Cursor de no permitido */
    box-shadow: none; /* Sin sombra */
}

.text-center{
    text-align: justify-all;
    margin-bottom: 50px;
    color: #6c4fdb;
}



.h2{
    color: #6c4fdb;
}